	<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  
  <style>
    @media (min-width: 400px) {
  /* line 31, ../sass/_type.sass */
  .cCstom {
  }
}

.cCustom {
  width: 130%;
  margin-left: 11%;
}

/*blog-header-img*/
 @media (max-width: 375px) {
  /* line 4, ../sass/partials/_alt-home.sass */
  background-image {
  height: 250px !important;
  
  }
}

</style>
</head>
<body>

	<a><%= link_to 'Home', root_path, {:class => "logo-show"} %><a class="next"></a>
<!--blog header image-->
        <div class="grid intro valign-wrapper no-margin center img-responsive" id="blog-header-img" style="background-image: url('<%= @blog.image.url %>');background-position: center !important; background-repeat: no-repeat; background-size: cover !important; height: 700px; ">

            </div>
<!--header end-->
<div class="cCustom" id="team">
<div class="container pt-page-current " id="team">

<section> 

<!--<%= link_to 'Home', root_path, {:class => "logo-show"} %><a class="next"></a>-->

					<div class="contentRight" id="team">
						<div class="postcontentarea" id="team">
							<div class="post" id="team">
								<div class="content-r-inner">
									<div class="blogheader"><%= link_to 'Back', blogs_path %>
										<h2 class="blogtitle"><%= @blog.title %></h2>
										<div class="blogmetainfo">Published by: <b><%= @blog.user.name %></b> <span class="infodivider">/</span><%= @blog.created_at.strftime("%d %b. %Y"); %>  <span class="infodivider">/</span><%= link_to "Tweet", "http://twitter.com/home?status=#{@blog.description} #{blog_url(@blog)}" %></div>
									</div>
									<div class="col-md-6">
										<div class="blogdata"><%= raw simple_format( @blog.content) %>
											<br>
											<br>
											<div class="blog-short-info"></div>
											<br>  </div>
									</div>
									<div class="col-md-6">
										<!--<div class="blogdata"><%=raw @blog.content %></div>-->
									</div>
									<!--footer section-->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 comments-section">
										<div class="comment featured-cmt">
										
											<div class="comt-author">
												<h4><%= @blog.user.name %></h4> <span class="comt-date"><%= @blog.created_at.strftime("%d %b. %Y"); %></span> </div>
											<!--<div class="comt-txt">-->
											<!--	<p><%= link_to "Share on Twitter", style: "margin-left: 45% !important;" "http://twitter.com/home?status=#{@blog.title} #{@blog.description} #{blog_url(@blog)}" %></p>-->
											<!--</div>-->
										</div>
										</div>
										</div>
										</div>
										</div>
										</div>
										</section>
										</div>
										</div>
									</body>
								</html>