
	<!--Preloader area starts -->
	<div class="loader" id="loader"> &nbsp;</div>
	<!--Preloader area ends -->
	<div id="wraper"> <a href="#" class="smallimg" id="smallimg">Back</a>
		<!--Top Headerbar area starts -->
		<div id="top-bar">
			<h1 class="logo">
                <a><%= link_to 'Home', root_path, {:class => "logo-show", style: "margin-left: 5%; z-index: 100;"} %></a></h1> 
                <a class="mobilemenu">View Menu</a> <a class="bt-menu-trigger" id="menu" onclick="landingpagecube();" href="#"><span>Menu</span></a> </div>
		<nav id="menumobile">
			<ul>
				<% if current_user && current_user.admin? %>
				<li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
				<li><%= link_to 'Admin', rails_admin.dashboard_path %></li>
				<% else %>
				<li><a href="#" onclick="thumbnailscube();">CATEGORIES</a> </li>
				<!--<li><a href="#" onclick="blogcube()">TRAVEL</a> </li>-->
				<li><a href="#" onclick="teamcube()">BLOGS</a> </li>
				<li><a href="#" onclick="aboutcube();">ABOUT</a> </li>
				<li><a href="#" onclick="contactcube();">CONTACT</a> </li>
				<% end %>
			</ul>
			<div class="footer">
				<ul class="socialpost">
					<li><a class="" href="https://twitter.com/lavail_io" target="blank"><i class="fa fa-twitter"></i></a> </li>
				</ul>
				<div class="touch">Lavail 2016 All Rights Reserved.</div>
			</div>
		</nav>
		<!--Top Headerbar area ends -->
		<!--Landing Page Us page area ends -->
		<div id="landingpage" class="pt-page">
			<div class="overlay">
				<nav id="menu">
					<ul>
						<% if current_user && current_user.admin? %>
						<li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
						<li><%= link_to 'Admin', rails_admin.dashboard_path %></li>
						<% else %>
						<li><a href="#" onclick="thumbnailscube();">CATEGORIES</a> </li>
						<!--<li><a href="#" onclick="blogcube()">TRAVEL</a> </li>-->
						<li><a href="#" onclick="teamcube()">BLOGS</a> </li>
						<li><a href="#" onclick="aboutcube();">ABOUT</a> </li>
						<li><a href="#" onclick="contactcube();">CONTACT</a> </li>
						
						<% end %>
					</ul>
				</nav>
			</div>
			<div class="footer-box">
				<div class="col-xs-12 col-sm-6">
					<ul class="socialpost">
						<!--<li><a class="" href="#"><i class="fa fa-google"></i></a> </li>-->
						<li><a class="" href="https://www.twitter.com/lavail_"><i class="fa fa-twitter"></i></a> </li>
						<!--<li><a class="" href="#"><i class="fa fa-behance"></i></a> </li>-->
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="touch">Developed by <a href="https://www.twitter.com/arisnance" class="link"><b> Aris Nance</b></a> </div>
				</div>
			</div>
		</div>
		<!--Landing page area ends -->
		<!--Main Home page area starts -->
		<div id="thumbnails" class="pt-page  pt-page-current">
			<div class="scalediv">
				<div class="row no-gutter" data-id="one">
					<% Category.order(created_at: :desc).each do |category| %>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="call">
						<figure class="callpost" data-num="1" style="background-image:url( <%= category.image.url %> );"          data-property="border-width" data-from="0" data-to="35px">
							<div class="content">
								<div class="content-wraper">
									<h2><%= link_to category.name, category, {:style => "color: #fff;"}%></h2>
									<!--<div class="comment-count">27 Comments <i class="fa fa-comments-o"></i> </div>-->
									<!--<div class="excerpt">Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, </div>-->
									<!--<div class="postinfo"><%= Category.select{|blog| @blog == "title"}.count%><span></span> </div>-->
								</div>
							</div>
						</figure>
						</div>
					</div>
					<% end %>
					
					
					<div class="clear"></div>
				</div>
			</div>
			<!-- Posts page area starts -->
	
		<!--Main Home page area ends -->
		<!--About Us page area ends -->
		<div id="aboutus" class="pt-page">
			<aside>
				<div class="postimagearea">
					<div class="postimage" style="background-image: URL(https://unsplash.com/?photo=bJBXvZ--uyc);"></div>
				</div>
			</aside>
			<section>
				<div class="contentRight">
					<div class="content-image">
						<div class="pagetitle contentarea">
							<!--<div class="title">-->
							<!--	<br> LAVAIL</div>-->
							<div class="mask"></div>
							<div class="pagesubtitle">FROM CHARLOTTE NORTH CAROLINA CREATIVE ENGINEER & SEATTLE TRANSPLANT.
							ruby on rails, python & django. currently freelancing.</div>
						</div>
					</div>
					<div class="contentarea">
						<div class="post">
							<div class="col-sm-12">
								<h4 class="blogtitle">Aris L Nance</h4>
								<div class="blogmetainfo"><b>WEB DEVELOPER <span class="infodivider">/</span> PROGRAMMER</b> </div>
							</div>
							<div class="col-sm-12">
								<div class="blogdata">My love for technoloy started at a young age. Born from curiousity, and now sustained by passion. It was this love that fueled my belief that I could rise from the life of hardship and poverty. </div>
							</div>
							
							<!--second content block-->
							<div class="col-sm-12" style="padding-top: 15px;">
								<div class="blogdata">The past 3 years in Seattle have been challenging. To remain competitive, I began reading and coding everyday, like non-stop. <em>Ask anyone who knows me</em>. My background in technical support of all tiers have taught me to learn quickly, hell even learn as you go. Trouble shooting all sorts of software and platforms provided me with the knowledge to begin building my own full stack projects.</div>
							</div>
							<!--lavail heading-->
							<div class="col-sm-12">
								<h4 class="blogtitle">Lavail Redesign</h4>
								<div class="blogmetainfo"><b>Ruby on Rails <span class="infodivider">/</span> Heroku</b><span class="infodivider">/</span> AWS </div>
							</div>
							<!--third content block-->
							<div class="col-sm-12" style="padding-top: 15px;">
								<div class="blogdata">The first version of <em>Lavail</em> was completely static. Hardcoded craziness. At this time in my development, I was not ready to build anything needing a database. Recognizing my challege, I decided to focus on design. It took only three days to have a production ready website with content. Lastly, I belive the quality of that site had a great deal to do with a job offer I received from a previous employer.</div>
							</div>
							<!--fourth content block-->
							<div class="col-sm-12" style="padding-top: 15px;">
								<div class="blogdata">
									Please enjoy the content, and be sure to check back for updates.
								</div>
							</div>
							<div class="col-sm-12">
							<!--	<div class="blogdata">It had been set for four o'clock as it should have beenit certainly must have rung. Yes was it possible to quietly sleep through that furniture-rattling noise? True, he had not peacefully, but probably all the more deeply because of that. What should he do now?</div>-->
							<!--</div>-->
							<div class="col-sm-12">
								<ul class="socialpost">
									<!--<li><a class="" href="#"><i class="fa fa-google"></i></a> </li>-->
									<li><a class="" href="https://twitter.com/lavail_io" target="blank"><i class="fa fa-twitter"></i></a> </li>
									<!--<li><a class="" href="#"><i class="fa fa-behance"></i></a> </li>-->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!--About Us page area ends -->
		<!--Contact Us page area ends -->
		<div id="contactus" class="pt-page">
			<aside>
				<div class="postimagearea">
					<div class="postimage" style="background-image: URL(https://unsplash.com/photos/MIspM6HIit8);"></div>
				</div>
			</aside>
			<section>
				<div class="contentRight">
					<div class="content-image">
						<!--<div class="pagetitle contentarea">-->
						<!--	<div class="title">Contact-->
						<!--		<br> Me</div>-->
						<!--	<div class="mask"></div>-->
						<!--	<div class="pagesubtitle"></div>-->
						<!--</div>-->
					</div>
					<div class="contentarea">
						<div class="post">
							<div class="col-sm-12">
								<h4 class="blogtitle">Get in touch</h4>
								<br> <i style="font-family: &quot;Playfair Display&quot;; font-size: 20px;">On the otherside of nothing, is everything.</i>
								<br>
							 </div>
							<div class="col-sm-12">
								
								<div style="font-family: Raleway; font-size: 18px;"><b>Email:</b> nance.aris@gmail.com</div>
								<p style="opacity: 0.6;">Please include a subject.</p>
								 </div>
							<div class="clear"></div>
							<br>
							<br>
							
							</div>
						</div>
						<br>
						<br>
						<br> </div>
				</div>
			</section>
		</div>
		<!--Contact Us page area ends -->
		<!-- STATIC CODE FOR MENU -->
		<div id="team" class="pt-page">
			<div class="scalediv">
				<div class="row no-gutter" data-id="one">
					<% Blog.order(created_at: :desc).each do |blog| %>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<figure class="callpost" data-num="1" style="background-image:url('<%= blog.image.url(:medium) %>');" data-property="border-width" data-from="0" data-to="35px">
							<div class="content">
								<div class="content-wraper">
									<h2><%= link_to blog.title, blog, {:style => "color: #fff;"} %></h2>
									<div class="excerpt"><%= blog.description %></div>
								</div>
							</div>
						</figure>
					</div>
					<% end %>
					
					<div class="clear"></div>
				</div>
			</div>
	
		</div>
	
	</div>
	<!-- commenting out insta sidebar -->
	
	<!--<div class="slideout"> <img src="" class="logo img-trend" alt="Feedback" />-->
	<!--	<div class="slideout_inner">-->
	<!--		<div id="feedframe">-->
	<!--			<div id="instafeed"> -->
	<!--			<a class="twitter-grid" href="https://twitter.com/TwitterDev/timelines/539487832448843776">National Park Tweets</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
	<!--			</div>-->
	<!--		</div>-->
	<!--	</div>-->
	<!--</div>-->
  <%= javascript_include_tag 'custom', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-1.11.3.min' %>
  <%= javascript_include_tag 'lightbox' %>
  <%= javascript_include_tag 'jquery.simplyscroll' %>
  <%= javascript_include_tag 'instafeed' %>
	<!--end insta sidebar -->
	<!--COMMENTING OUT FOR NOW-->
	<!--<script type="text/javascript">-->
	<!--	$(function() {-->
	<!--		var feed = new Instafeed({-->
	<!--			get: 'user',-->
	<!--			userId: 2271905504,-->
	<!--			accessToken: '2271905504.5b9e1e6.423535c79cf645449d2df1e9cbd46316',-->
	<!--			sortby: 'random',-->
	<!--			resolution: 'standard_resolution',-->
	<!--			links: 'false',-->
	<!--			limit: '10',-->
	<!--			template: '<a href="{{image}}" data-lightbox="instaimg"> <img height="300" alt="instaimg" width="300" src="{{image}}" /> </a>',-->
	<!--			after: loadscroll-->
	<!--		});-->
	<!--		feed.run();-->
	<!--	});-->

	<!--	function loadscroll() {-->
	<!--		$("#instafeed").simplyScroll({-->
	<!--			orientation: 'vertical',-->
	<!--			customClass: 'vert',-->
	<!--			speed: 1,-->
	<!--			pauseOnTouch: true,-->
	<!--			pauseOnHover: false-->
	<!--		});-->
	<!--	}-->
	<!--	var event = ('ontouchstart' in window) ? 'click' : 'mouseenter mouseleave';-->
	<!--	$(document).ready(function() {-->
	<!--		$('.slideout').on("click", function() {-->
	<!--			$(".slideout").toggleClass("slideopen");-->
	<!--			$(".slideout_inner").toggleClass("inneropen");-->
	<!--		});-->
	<!--	});-->
	<!--	$.preloadImages = function() {-->
	<!--		for (var i = 0; i < arguments.length; i++) {-->
	<!--			$("<img />").attr("src", arguments[i]);-->
	<!--		}-->
	<!--	}-->
	<!--	$.preloadImages("img/LLAVAIL.jpg");-->
	<!--</script>-->
