<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="favicon.ico" type="image/x-icon" sizes="16x16">
	
  	<%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'tidy' %>
    <%= stylesheet_link_tag 'animate' %>
    
    <!-- Animations -->
	<%= javascript_include_tag 'wow'%>
</head>
<body>
	
	<!--<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />-->
<div class="container">
			<div id="top-bar">
			<h1 class="logo">
                <a><%= link_to 'Home', root_path, {:class => "logo-show", style: "margin-left: 5%; z-index: 100;"} %></a></h1>
                <a class="mobilemenu">View Menu</a> <a class="bt-menu-trigger" id="menu" onclick="landingpagecube();" href="#"><span>Menu</span></a> </div>
                
              

	
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
    <%= yield %>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<%= javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track' => true %>
<%= tinymce_assets %>
<%= tinymce %>

 <!-- devise alerts -->
<script>
	$(".alert" ).fadeOut(2000);
</script>
<!-- devise alerts end -->

<!-- footer - will move later -->
<footer>
	<div class="f-content">
		<p class="fp-content">Developed by Aris Nance</p>		
	</div>
</footer>
<!-- footer end -->
</body>
</html>
